@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #4aa5e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 1.1rem;
}

div {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

img {
    width: 150px;
    padding-bottom: 1rem;
}

label {
    font-size: 1.3rem;
    margin-bottom: 10px;
    display: block;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#resultado {
    font-size: 1.3rem;
    color: #333;
    margin-top: 10px;
    padding: 10px 20px;
}

input[type="submit"] {
    background-color: #14af2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: rgb(16, 145, 59);
}
